# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.backup
.terraform.lock.hcl

# AWS creds
*.pem
*.key

# Node / Next.js
node_modules/
.next/
out/

# Env files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log


*.txt
access keys*